body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  padding: 0 10vw 5vh 15vw;
}

.board {
  background-image: url("https://i.pinimg.com/originals/50/1d/49/501d49dc37935dc5c1fa42a676f785de.gif");
  background-size: cover;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 74px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lost {
  width: 800px;
}

.finalScore {
  float: right;
  display: inline-block;
  margin: 0 100px 0 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.resetButton {
  margin: 10px;
  font-size: 20px;
}

.finalScore > h2,
.finalScore > h3 {
  font-size: 25px;
}

.game-mobile-header {
  display: none;
}

.game-info {
  margin-left: 20px;
}

.score {
  display: inline-block;
}
.timer {
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 400px) {
  .game {
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 0 0;
  }

  .game-board {
    padding: 0 15vw 5vh 15vw;
  }

  .square {
    font-size: 54px;
    height: 70px;
    width: 70px;
  }

  ol,
  ul {
    padding-left: 0px;
  }

  .status {
    font-size: 25px;
  }

  button {
    font-size: 25px;
  }

  .moves-history {
    display: none;
  }

  .game-mobile-header {
    display: inline-block;
  }
}
