body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board,
.table {
  padding: 0 10vw 5vh 15vw;
}

.board {
  background-image: url("https://i.pinimg.com/originals/50/1d/49/501d49dc37935dc5c1fa42a676f785de.gif");
  background-size: cover;
}

.status {
  margin-bottom: 10px;
}

.square {
  float: left;
  font-size: 74px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lost {
  width: 800px;
}

.finalScore {
  float: right;
  display: inline-block;
  margin: 0 100px 0 0;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.resetButton {
  margin: 15px 0 0 0;
  font-size: 20px;
  background-color: #794c8d;
  color: white;
  padding: 5px;
  border-radius: 15%;
}

.resetButton:hover,
.submit:hover {
  background-color: white;
  color: #794c8d;
  border: 2px solid #794c8d;
}

.submit {
  margin: 15px 0 0 0;
  font-size: 20px;
  background-color: #794c8d;
  color: white;
  padding: 5px;
  border-radius: 15%;
  border: 2px solid white;
}

.finalScore > h2,
.finalScore > h3 {
  font-size: 25px;
}

.game-mobile-header {
  display: none;
}

.game-info {
  margin-left: 20px;
}

.score {
  display: inline-block;
}

.timer {
  display: inline-block;
  float: right;
}

/* SCOREBOARD STYLING */

.header {
  position: relative;
  background-color: #794c8d;
  color: white;
  padding: 15px 65px 15px 15px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.winner {
  margin: 0 150px 0 210px;
  position: relative;
  background-color: #794c8d;
  color: white;
  padding: 15px 25px 15px 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.row {
  margin: 2px 0px;
  padding: 10px;
  color: #794c8d;
  border: 1px solid #794c8d;
  /* line-height: 50px; */
}

.column-headers {
  margin: 2px 0px;
  padding: 10px;
  background-color: #562a69;
  color: white;
  font-weight: bold;
}

.row::before,
.column-headers::before,
.winner:before {
  display: table;
  content: " ";
  display: inline-block;
  align-items: center;
}

.row-sub {
  display: block;
  float: left;
}

#index {
  width: 150px;
}

#name {
  width: 425px;
}

#score {
  width: 150px;
}

#name,
#score,
#index {
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 400px) {
  .game {
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 0 0;
  }

  .game-board {
    padding: 0 15vw 5vh 15vw;
  }

  .square {
    font-size: 54px;
    height: 70px;
    width: 70px;
  }

  ol,
  ul {
    padding-left: 0px;
  }

  .status {
    font-size: 25px;
  }

  button {
    font-size: 25px;
  }

  .moves-history {
    display: none;
  }

  .game-mobile-header {
    display: inline-block;
  }
}

.controls {
  align-content: center;
  padding: 0 10% 0 15%;
}

.button {
  height: 72px;
  width: 72px;
  line-height: 72px;
  display:inline-block;
  margin: 5px 10px 0 5px;
  border: 1px solid #999;
  text-align: center;
}