body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .game-board {
    padding: 0 15vw 5vh 15vw;
  }

  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 74px;
    font-weight: bold;
    line-height: 74px;
    height: 74px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 74px;
  }

 
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .game-mobile-header {
    display: none;
  }
  
  .game-info {
    margin-left: 20px;
  }

@media only screen and (max-width: 400px) {

  .game {
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 0 0;
  }

  .game-board {
    padding: 0 15vw 5vh 15vw;
  }

  .square {
    font-size: 54px;
    height: 70px;
    width: 70px;
  }

  ol, ul {
    padding-left: 0px;
  }

  .status {
    font-size: 25px;
  }

  button {
    font-size: 25px;
  }

  .moves-history {
    display: none;
  }
  
  .game-mobile-header {
    display:inline-block;
  }
}