.button {
    height: 72px;
    width: 66px;
    font-size: 25px;
    line-height: 72px;
    display:inline-block;
    margin: 5px 10px 0 5px;
    text-align: center;
}

.button-container > .light {
    border: 1px solid #09194a;
}

.button-container > .dark {
    border: 1px solid aliceblue;
}